node_modules
# Keep environment variables out of version control
.env
.env.development.local
.local.env
.dev.env
.staging.env
.prod.env

/src/logs
logs
/src/prisma/generated
/src/generated/*
/generated/*
dist/


cache
tmp
dump

/src/scripts/wp-user-table1.json

dockerfile

.DS_store
.idea

# log files
analytics.log
notes/

.claude/
GEMINI.md
.beads/ 

/generated/prisma
/prisma/generated

# markdown files
*.md
*.MD

.cursor/
prompt.txt